*.elc
*.el~
.lsp
*automatic_backups*
/emacs/el-get/
/emacs/elpa/
/emacs/quelpa/
/emacs/history
/emacs/places
/emacs/smex*
/emacs/bbdb
/emacs/projectile*
/emacs/cider*
/emacs/recentf
/emacs/var
/emacs/.*
/emacs/el-get/
